.ant-app {
  background-color: #fff;

  .options {
    height: 100%;

    .ant-tabs-content-holder {
      overflow: auto;
    }

    .ant-tabs-tabpane {
      padding: var(--ant-padding-lg);
    }
  }
}
