:global {
  .ant-tabs-tabpane {
    padding: 24px;
  }
}

.page {
  height: 100%;

  .tabsTitle {
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.3rem;
    font-weight: bold;
    margin: 1rem;
  }
}
